<nav class="navbar navbar-expand-lg bg-body-tertiary rounded mb-2">
  <div class="container-lg">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample11"
      aria-controls="navbarsExample11"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex">
      <a class="navbar-brand col-lg-3 me-0">{{ this.title }}</a>
      <ul class="navbar-nav col-lg-6 justify-content-lg-center">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Home
          </a>
        </li>
        <ng-container *ngIf="this.accountService.account$ | async">
          <!-- Nav Features if Logged In -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/members" routerLinkActive="active">
              Members
            </a>
          </li>
        </ng-container>
      </ul>
      <div class="d-lg-flex col-lg-3 justify-content-lg-end">
        <button
          *ngIf="!(this.accountService.account$ | async)"
          class="btn btn-primary"
          routerLink="/login"
        >
          Log In
        </button>

        <div
          class="btn-group"
          *ngIf="this.accountService.account$ | async"
          dropdown
        >
          <button
            id="button-basic"
            dropdownToggle
            type="button"
            class="btn btn-secondary dropdown-toggle"
            aria-controls="dropdown-basic"
          >
            {{ (this.accountService.account$ | async)?.username }}
            <span class="caret"></span>
          </button>
          <ul
            id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu"
            role="menu"
            aria-labelledby="button-basic"
          >
            <li role="menuitem">
              <a
                class="dropdown-item"
                routerLink="/profile/{{ this.username }}"
              >
                Profile
              </a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a class="dropdown-item" (click)="this.logout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
