<div
  class="d-flex justify-content-center align-items-center"
  style="min-height: 100vh"
>
  <div class="bg-light border rounded shadow">
    <form action="" class="py-4 px-5">
      <h2 class="text-center">Dating App</h2>
      <div class="py-2 d-flex flex-column">
        <label for="">Username</label>
        <input type="text" class="rounded" />
      </div>
      <div class="py-2 d-flex flex-column">
        <label for="">Password</label>
        <input type="password" class="rounded" />
        <a href="" class="text-end">Forgot Password?</a>
      </div>
      <button class="btn btn-primary w-100 rounded my-2" type="submit">
        Login
      </button>
      <div class="text-center w-100">
        <a href="" class="text-center">Register</a>
      </div>
    </form>
  </div>
</div>
